/*Panel Styles*/
.MasterPanels {
    border-style: double;
    justify-content: center;
}
.colorPage {
    background-color: white;
}
.FaultPanel {
    border-style: double;
    justify-content: center;
    background-color: #A71930;
}


/* Custom Styles  */
.myButton
{
    background-color: #A71930;
}

.middleImg {
    text-align: center;
}

.diffStandard input {
    color : #A71930;
}

.diffRed {
    color : #A71930;
    font-weight: bold;
}


.styleButton * {
    font-size: 12pt;
    text-decoration: none;
    margin-left: 5%;
    width:90%;
    height:130%;
    padding:1%;
}

.styleLongButton * {
    font-size: 12pt;
    text-decoration: none;
    line-height: 15pt;
    white-space: normal;
    margin-left: 5%;
    width:90%;
    height:130%;
    padding:1%;
}

.stylePanelYellow {
    background-color: #FFD300; 
}

.stylePanelGreen {
    background-color: #7CA295; 
}

.stylePanelRed {
    background-color: #A71930; 
}

.stylePanelBrown {
    background-color: #5E3032; 
}

.diffLink {
    color : #003A6B;
    text-decoration: underline;
    font-weight: bold;
}

.textTop {
    font-size: 30pt;
    color : #003A6B;
}
.textTopWhite {
    font-size: 30pt;
    color : white;
}
.textTopRed {
    font-size: 40pt;
    color: #A71930;
    /*font-weight: bold;*/
}

.customTextBar * {
    font-size: 25pt;
    font-weight: bold;
}

.customText {
    font-size: 15pt;
    font-weight: bold;
}

.customTextFermo {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.progressBarButton * {
    height: 120px;
    background-color: #7CA295 !important;
    background-image: none !important;
    border: 2px solid;
}

.sapMListTblCell {

    border-left: 1px solid #ccc;

}

.mysapMListTblCell .sapMListTblCell {
    padding-left:0.5rem;
}

.mysapMText .sapMText {
    padding-top: 0.75rem;
}

.mysapMCb .sapMCb {
    left: 0.375rem;
}

.mysapMTable {
    border-top : 1px solid #dddddd;
    border-right : 1px solid #dddddd;
}

/*.alternate-color .sapUiTableRowEven {
    background-color: #0c0;
}*/

/*.alternate-color .sapUiTableRowEven:hover td {
    background-color: #0f0 !important;
}*/

.alternate-color .sapUiTableRowOdd {
    background-color: #efeff5;
}

.alternate-color .sapUiTableRowOdd input {
    color: #fff;
}

.alternate-color .sapUiTableRowOdd:hover td {
    background-color: #efeff5 !important;
}

.alternate-color .sapUiTableRowOdd:hover  input {
    color: #fff;
}
.Logo {
    width: 55%;
    margin-left: 22%;
    margin-top: 3%;
}