/*STILE PAGINE SETTATO A BIANCO*/
.colorPage {
    background-color: white;
}

/*STILE MASTER PAGE*/
.MasterPanels {
    justify-content: center;
}
.stylePanelYellow {
    background-color: #FFD300; 
}
.stylePanelGreen {
    background-color: #7CA295; 
}
.stylePanelRed {
    background-color: #A71930; 
}
.stylePanelBrown {
    background-color: #5E3032; 
}
/*STILE BOTTONI SULLA MASTER PAGE*/
.styleButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    color: #003A6B;
    padding:4%;
    border-radius: 10px;
}

.styleButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    margin-left: 5%;
    color: #003A6B;
}
.styleLongButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    padding:3%;
    color: #003A6B;
    border-radius: 10px;
}
.styleLongButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    line-height: 17pt;
    white-space: normal;
    margin-left: 5%;
    color: #003A6B;
}
.styleVeryLongButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    padding:3.3%;
    color: #003A6B;
    border-radius: 10px;
}
.styleVeryLongButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    line-height: 17pt;
    white-space: normal;
    margin-left: 5%;
    color: #003A6B;
}
.styleDisabledButton .sapMBtnContent {
    font-style: italic;
}

/*STILE TESTI E INPUT TREETABLE*/
.diffStandard input {
    color : #A71930;
}
.diffRed {
    color : #A71930;
    /*font-weight: bold;*/
}
.diffLink {
    color : #003A6B;
    text-decoration: underline;
    /*font-weight: bold;*/
}
.sapMTB-Transparent-CTX .sapMBtnInner {
    color: #003A6B;
    background-color:#efeff5;
}
.sapUiTableColHdrCnt {
    color: #0085ca;
}
.sapMTB-Transparent-CTX.sapMTB {
    padding-left: 0rem !important;
}
.TTButton .sapMBtnInner {
    font-size: 15pt;
    font-family: Arial;
    color: #003A6B;
    background: #FFD300;
    width: 10em;
    border-radius: 10px;
}
.COUPLEDTTButton .sapMBtnInner {
    font-size: 15pt;
    font-family: Arial;
    color: #003A6B;
    background: #FFD300;
    width: 6em;
    border-radius: 10px;
}
/*STILE TESTI VARI*/
.sapMText {
    font-size: 15pt;
    font-family: Arial;
}
.sapMLabel {
    font-size: 15pt;
    font-family: Arial;
}
.textTop {
    font-size: 40pt;
    color : #003A6B;
    font-family: Arial;
}
.textTopRed {
    font-size: 40pt;
    color: #A71930;
    font-family: Arial;
}
.customText {
    font-size: 30pt;
    /*font-weight: bold;*/
    color : #003A6B;
    font-family: Arial;
}
.OEEText {
    font-size: 20pt;
    /*font-weight: bold;*/
    color : #003A6B;
    font-family: Arial;
}
.customTextFermo  {
    font-size: 15pt;
    /*font-weight: bold;*/
    text-align: center;
    color : #A71930;
    font-family: Arial;
}
.titleTT {
    color : #A71930 !important;
    font-family: Arial;
}
.textNormal {
    font-size: 15pt;
    color : #003A6B;
    font-family: Arial;
}


/*STILE TAB CONTAINER*/
.annullaButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #A71930;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    height: 150%;
}
.confermaButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #7CA295;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    height: 150%;
}
.attrezzaggioButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #0085ca;
    color: white;
    padding: 0.65%;
    height: 150%;
    border-radius: 10px;
}
.chiusuraButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #5E3032;
    color: white;
}
.annullaButtonDialog .sapMBtnInner {
    font-family: Arial;
    font-size: 30pt;
    color: white;
    background: #A71930;
    border-radius: 10px;
    height: 200%;
    padding: 6.5%;
}
.confermaButtonDialog .sapMBtnInner {
    font-family: Arial;
    font-size: 30pt;
    color: white;
    background: #7CA295;
    border-radius: 10px;
    height: 200%;
    padding: 6.5%;
}
/*.sapMTabStrip {
    background: #0085CA;
}
.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem {
    background: #0085CA;
    color: white;
}*/

/*STILE PROGRESS BAR*/
.SPCButtonGreen {
    background: #7CA295;
    height: 118.5px !important;
    width: 85% !important;
    top: 4px;
}
.SPCButtonYellow {
    background: #FFD300;
    height: 118.5px !important;
    width: 85% !important;
    top: 4px;
}
.SPCButtonPhase1 {
    background: #FFD300;
    height: 118.5px !important;
    width: 85% !important;
    top: 4px;
}
.SPCButtonPhase1 .sapMBtnIcon {
    height: 60%;
    width: 80%;
}
.SPCImage {
    width: 30%;
}
.customTextBar *{
    font-size: 40pt;
    color : #003A6B;
    font-family: Arial;
}
.customTextBarFermo *{
    font-size: 40pt;
    font-family: Arial;
}
.sapMPIBarPositive {
    background: #7CA295;
}
.sapMPIBarNegative{
    background: #d47600;
}
.sapMPIBarCritical {
    background: #FFD300;
}
.sapMPIBarNeutral {
    background: #A71930;
}

/*STILE TABELLA TOTALE CAUSALIZZAZIONE EDO*/
.sapMListTblCell {
    border-left: 1px solid #ccc;
}
.mysapMListTblCell .sapMListTblCell {
    padding-left:0.5rem;
}
.mysapMText .sapMText {
    padding-top: 0.75rem;
}
.mysapMCb .sapMCb {
    left: 0.375rem;
}

/*STILE TABELLA SINGOLI CAUSALIZZAZIONE*/
.mysapMTable {
    border-top : 1px solid #dddddd;
    border-right : 1px solid #dddddd;
}
.alternate-color .sapUiTableRowOdd {
    background-color: #efeff5;
}

.alternate-color .sapUiTableRowOdd input {
    color: #fff;
}

.alternate-color .sapUiTableRowOdd:hover td {
    background-color: #efeff5 !important;
}

.alternate-color .sapUiTableRowOdd:hover  input {
    color: #fff;
}

/*LOGO*/
.Logo {
    width: 65%;
    margin-left: 17.5%;
}
.logoBoxYellow {
    border: solid;
    border-color: #FFD300;
}
.logoBoxGreen {
    border: solid;
    border-color: #7CA295;
}
.logoBoxRed {
    border: solid;
    border-color: #A71930; 
}
.logoBoxBrown {
    border: solid;
    border-color: #5E3032;
}

/*DIALOG*/
.dialogStyle {
    margin-left: 8%;
}
.LogoFragment {
    width: 55%;
    margin-left: 17.5%;
}
.topBorder {
    border-top: 2px solid #003A6B;
}